<td class={{#if isCondition}}"decision-table-condition-column"{{else}}"decision-table-conclusion-column"{{/if}}>
    <div class={{#if isCondition}}"decision-table-conditions-header"{{else}}"decision-table-conclusions-header{{#if isReturn}}-return{{/if}}"{{/if}}>
        {{#if isReturn}}
            <span class="decision-table-return">{{returnTitle}}</span>
        {{else}}
            <div id="select"></div>
        {{/if}}
    </div>
    {{#unless isReturn}}
        <div style="float; right;">
            <button class="btn decision-table-close-element" title="{{title}}">
                <span class="fa fa-minus"></span>
            </button>
        </div>
    {{/unless}}
</td>
