{{#if value}}
    {{#eachOptions items}}
        {{#eq this.key ../value}}
            <div class="ellipsis_inline" data-placement="bottom" title="{{value}}{{#if ../../showFactorField}} ({{str ../../../factorFieldLabel ../../../module}} = {{../../../factorValue}}){{/if}}">
                {{value}}
                {{#if ../../showFactorField}}
                    &nbsp;({{str ../../../factorFieldLabel ../../../module}} = {{../../../factorValue}})
                {{/if}}
            </div>
        {{/eq}}
    {{/eachOptions}}
{{/if}}
