{{#if offset}}
    {{#eq offset -1}}
        {{str 'TPL_LISTVIEW_SELECTED_ALL' this.module this}}
    {{/eq}}
    {{#notEq offset -1}}
        {{str 'TPL_LISTVIEW_SELECTED_FIRST_OFFSET' this.module this}}
    {{/notEq}}
{{else}}
    {{#if all_selected}}
        {{str 'TPL_LISTVIEW_SELECTED_ALL' this.module this}}
    {{else}}
        {{str 'TPL_LISTVIEW_SELECTED' this.module this}}
    {{/if}}
{{/if}}
<button type="button" class="btn btn-link btn-inline" data-action="clear">
    {{str 'LBL_LISTVIEW_SELECTED_CLEAR'}}
</button>
