<input type="password" name="current_password" value="{{value}}" class="inherit-width" disabled>
{{#if showPasswordFields}}
    <input type="password" name="new_password" value="{{newPassword}}" placeholder="{{str "LBL_NEW_PASSWORD1" module}}" class="inherit-width">
    <input type="password" name="confirm_password" value="{{confirmPassword}}" placeholder="{{str "LBL_NEW_PASSWORD2" module}}" class="inherit-width">
    {{#unless hideHelp}}{{#if def.help}}<p class="help-block">{{str def.help module}}</p>{{/if}}{{/unless}}
{{else}}
    <a class="togglePasswordFields" href="javascript:void(0)">{{str "LBL_CHANGE_PASSWORD"}}</a>
{{/if}}
