<span data-id="{{cid}}" {{#if email_address}}rel="tooltip" data-title="{{email_address}}" {{/if}}data-invalid="{{invalid}}" data-optout="{{opt_out}}" data-name-is-erased="{{name_is_erased}}" data-email-is-erased="{{email_is_erased}}">{{name}}</span>
