{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the DotBCRM Inc. product ("Company") that Company is bound by
 * the DotBCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.dotbcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 DotBCRM Inc.  All rights reserved.
 ********************************************************************************/
}}
<div class="row-fluid" style="height: 300px;">
    <div class="span6">
		<h4>Go to Contact:</h4>
		<h3>Name: <a href="#Contacts/{{this.contact.id}}" style="color: #000000;">{{this.contact.name}}</a></h3>
		<br/>
		<div class="row-fluid">
			<div class="span6">
				<div class="image_field avatar avatar-btn" style="width: 300px; height: 65px; min-height: 65px; line-height: 65px;">
					<div class="image_preview">
						<a href="#Contacts/{{this.contact.id}}"><img src="rest/v10/Contacts/{{this.contact.id}}/file/picture?format=dotb-html-json&amp;platform=base&amp;_hash={{this.contact.picture}}" class="" style="width: 150px; height: 150px;"></a>
					</div>
				</div>
			</div>
			<div class="span6">
				<div style="font-size: 16px;">
					# Calls: {{this.contact.nbcalls}}<br/>
					# Meetings: {{this.contact.nbmeetings}}<br/>
					# Tasks: {{this.contact.nbtasks}}<br/>
				</div>
			</div>
		</div>
    </div>

    <div class="span6">
        <h4>Go to Account</h4>
		<h3>Name: <a href="#Accounts/{{this.account.id}}" style="color: #000000;">{{this.account.name}}</a></h3>
		<br/>
		<div class="row-fluid">
			<div class="span6">
				<a href="#Accounts/{{this.account.id}}"><img src="custom/clients/base/views/gotodata/company_icon.png" width="150" height="150" border="0" /></a>
			</div>
			<div class="span6">
				<div style="font-size: 16px;">
					# Opportunities: {{this.account.nbopportunities}}<br/>
					# Cases: {{this.account.nbcases}}<br/>
				</div>		
			</div>		
    </div>

</div>
