{{#if value}}
    {{#if def.help}}
        <span class="add-on" rel="tooltip" title="{{str def.help module}}">*</span>
    {{/if}}
    {{#if ../ellipsis}}
        <div class="ellipsis_inline" data-placement="bottom" title="{{value}}">
    {{/if}}
    {{#if href}}
            <a href="{{#if def.events}}javascript:void(0);{{else}}{{href}}{{/if}}">{{value}}</a>
    {{else}}
        {{value}}
    {{/if}}
    {{#if ../ellipsis}}
        </div>
    {{/if}}
{{/if}}
