<div class="quote-footer-item quote-footer-input-item {{css_class}}">
    <span class="quote-footer-label">{{label}}</span>
    <span class="quote-footer-value">
        <input type="text" id="{{name}}-percent" name="{{name}}" value="{{value_percent}}" />
        <input type="text" id="{{name}}-amount" name="{{name}}" value="{{value_amount}}" />
    </span>
</div>
