<div class="ellipsis_inline" rel="tooltip" data-placement="bottom" title="{{tooltip}}">
    {{#if value.nameIsErased}}
        <span class="label">
            {{#if value.href}}<a href="{{value.href}}">{{/if}}{{str 'LBL_VALUE_ERASED' module}}{{#if value.href}}</a>{{/if}}
        </span>
    {{else}}
        {{#if value.attributes.parent_name}}
            {{#if value.href}}<a href="{{value.href}}">{{/if}}{{value.attributes.parent_name}}{{#if value.href}}</a>{{/if}}
        {{else}}
            {{#if value.emailIsErased}}
                <span class="label">{{str 'LBL_VALUE_ERASED' module}}</span>
            {{else}}
                {{value.attributes.email_address}}
            {{/if}}
        {{/if}}
    {{/if}}
</div>
