{{!--
/*
 * @author Emil Kilhage <emil.kilhage@addoptify.com>
 */
--}}
<div class="progress"
     rel="tooltip"
     data-placement="top"
     title="Progress: {{value}}% ({{model.attributes.score}}/{{model.attributes.points}} {{str "LBL_WIDGET_POINTS" "DRI_Workflows"}})">
    <div class="bar" style="width: {{value}}%;"></div>
</div>
