{{#if value}}
    {{#if value.[0]}}
        {{#with value.[0]}}
            {{#notEq mimeType 'image'}}
                {{#eq docType 'Dotb'}}
                    <a class="ellipsis_inline" data-placement="bottom" title="{{name}}" href="javascript:void(0);" data-url="{{url}}" data-action="download">{{name}}</a>
                {{/eq}}
                {{#notEq docType 'Dotb'}}
                    <a class="ellipsis_inline" data-placement="bottom" title="{{name}}" href="{{url}}" target="_blank">{{name}}</a>
                {{/notEq}}
            {{/notEq}}
            {{#eq mimeType 'image'}}
                <a class="ellipsis_inline" data-placement="bottom" title="{{name}}" href="{{url}}" target="_blank">{{name}}</a>
            {{/eq}}
        {{/with}}
    {{/if}}
{{/if}}
