{{#each fields}}
<div class="fieldset-group">
    <div class="fieldset-label" data-name="{{name}}">{{str label ../module}}</div>
    <div class="fieldset-field" data-type="{{type}}" data-name="{{name}}">{{placeholder}}</div>
</div>
{{/each}}
