<div class="ellipsis_inline primary" data-placement="bottom" title="" data-original-title="">
    {{#each model.primaryFields}}
        {{#notEq type 'avatar'}}<h3>{{/notEq}}
        {{#if highlighted}}
            {{#if ../../model.viewAccess}}
                {{#if link}}
                    <span><a href="#{{buildRoute model=../../../../model}}">{{value}}</a></span>
                {{else}}
                    <span>{{value}}</span>
                {{/if}}
            {{else}}
                <span>{{value}}</span>
            {{/if}}
        {{else}}
            {{field ../../view model=../../model template='list'}}
        {{/if}}
        {{#notEq type 'avatar'}}</h3>{{/notEq}}
    {{/each}}
</div>
<div class="ellipsis_inline secondary" data-placement="bottom" title="" data-original-title="">
    {{#each model.secondaryFields}}
        {{~#if highlighted~}}
        <span>{{str ../label ../../module}}:</span> <span>{{../value}}</span>{{#unless @last}}, {{/unless}}
        {{~^~}}
        <span>{{str ../label ../../module}}: </span>{{field ../../view model=../../model template='list'}}{{#unless @last}}, {{/unless}}
        {{~/if~}}
    {{/each}}
</div>

{{#each view.meta.rowactions.actions}}
    {{field ../view model=../model}}
{{/each}}
