{{#if def.buttons}}
    {{#unless def.no_default_action}}
        {{defaultActionBtn.placeholder}}
    {{/unless}}
    {{#eq isRenderDropdown true}}
    {{#if dropdownFields}}
        <a track="click:rowactions"
           class="btn dropdown-toggle{{#if def.no_default_action}} btn-invisible{{/if}}{{#if def.primary}} btn-primary{{/if}}"
           data-toggle="dropdown" href="javascript:void(0);"
           data-placement="bottom"
           rel="tooltip"
           role="button" tabindex="{{tabIndex}}" aria-label="{{str 'LBL_LISTVIEW_ACTIONS' module}}"
           aria-haspopup="true" aria-expanded="false"
           title="{{str 'LBL_LISTVIEW_ACTIONS' module}}"><i class="far {{caretIcon}}"></i></a>
        <ul data-menu="dropdown" class="dropdown-menu" role="menu"></ul>
    {{/if}}
    {{/eq}}
{{/if}}
