<a class="rowaction{{#if isBwcEnabled}} disabled{{/if}}" href="{{#if fullRoute}}#{{fullRoute}}{{else}}{{#if def.route}}#{{buildRoute context=context model=model action=def.route.action}}{{else}}javascript:void(0);{{/if}}{{/if}}"
{{#if def.event}}
   data-event="{{def.event}}"
{{/if}}
{{#if tooltip}}
   rel="tooltip"
   data-placement="bottom"
   title="{{str tooltip module}}"
{{/if}}
   name="{{name}}" track="click:{{#if name}}{{name}}{{else}}{{label}}{{/if}}">
{{#if def.icon}}<i class="fa {{def.icon}}"></i>{{/if}}{{str label}}</a>
