<a class="rowaction" href="{{#if fullRoute}}#{{fullRoute}}{{else}}{{#if def.route}}#{{buildRoute context=context model=model action=def.route.action}}{{else}}javascript:void(0);{{/if}}{{/if}}"
    {{#if def.event}}
   data-event="{{def.event}}"
    {{/if}}
    {{#if tooltip}}
   rel="tooltip"
   data-placement="bottom"
   title="{{str tooltip module}}"
    {{else}}
        {{#if label}}
   rel="tooltip"
   data-placement="bottom"
   title="{{str label module}}"
        {{/if}}
    {{/if}}
   name="{{name}}" track="click:{{#if name}}{{name}}{{else}}{{label}}{{/if}}">
    <i class="fa {{def.icon}}"></i></a>
