<a href="{{#if fullRoute}}#{{fullRoute}}{{else}}{{#if def.route}}#{{buildRoute context=context model=model action=def.route.action}}{{else}}javascript:void(0);{{/if}}{{/if}}"
   name="{{name}}"
   title="{{def.label}}">
{{#if def.icon}}<i class="far {{def.icon}} fa-sm"></i> {{/if}}{{label}}</a>
