<div class="welcome">
    <div class="thumbnail login">
        <div class="tcenter">
            <h2 class="brand"><img src="{{logoUrl}}" alt="DotBCRM"></h2>
        </div>
        <form name='{{name}}' class="tcenter">
        	<p>{{str "LBL_LOGGED_OUT"}}
        	</p>
        	<p>&nbsp;</p>
            <p class="wide">
                    <a class="btn btn-block btn-primary" name="login_button"
                       title="{{str "LBL_LOGIN_BUTTON_LABEL"}}">{{str "LBL_RETURN_TO_LOGIN_PAGE"}}</a>
			</p>
        </form>
    </div>
</div>
