{{#each value}}
    {{#if email_address}}
        <div {{#if ../../dir}} dir="{{../../../dir}}"{{/if}} class="audit-email">
            <div class="{{#if ../../ellipsis}}ellipsis_inline{{/if}}" rel="tooltip" title="{{email_address}}{{#notEq flagLabel ''}} ({{flagLabel}}){{/notEq}}" data-placement="bottom" data-action="email" data-email-address-id="{{email_address_id}}">{{email_address}}</div>
            <a href="javascript:void(0);"
               data-action="audit-email-address"
               data-email-address-id="{{email_address_id}}"
               rel="tooltip"
               data-placement="bottom"
               title="{{str 'LBL_AUDIT_EMAIL_TOOLTIP' this.module}}">
               <i class="fa fa-list-alt"></i>
            </a>
        </div>
    {{/if}}
{{/each~}}
