{{#if value}}
    <div class="ellipsis_inline" data-placement="bottom"{{#if dir}} dir="{{dir}}"{{/if}} title="{{value}}">
        {{value}}

        {{#if def.enableSMS}}
            <i class="fa fa-spin fa-spinner {{this.def.name}}-sms-spin" style="display: none;font-size:17px"></i>
            <i onclick="$('.{{this.def.name}}-sms-spin').show(); $('.{{this.def.name}}-icon-sms').hide();setTimeout(function(){$('.{{this.def.name}}-icon-sms').show();$('.{{this.def.name}}-sms-spin').hide();},1000); openAjaxPopup('{{value}}','{{this.model.module}}','{{this.model.id}}');"
               class="far fa-comments {{this.def.name}}-icon-sms" style="font-size: 17px;cursor: pointer"
               title="Click to send an SMS.Opening the edit or may take amoment.Please give it sometime."></i>
        {{/if}}

        <i class="fa fa-spin fa-spinner {{this.def.name}}-icon-spin" style="display: none;font-size:17px"></i>
        <i class="fa fa-phone icon-call-center {{this.def.name}}-icon-call" title="Click to call" style="font-size: 17px;cursor: pointer"
           onclick="$('.{{this.def.name}}-icon-spin').show();$('.{{this.def.name}}-icon-call').hide();setTimeout(function(){$('.{{this.def.name}}-icon-call').show();$('.{{this.def.name}}-icon-spin').hide();},3000);CALL_CENTER.dialNumber('{{value}}','{{this.model.module}}','{{this.model.id}}');"></i>
    </div>
{{/if}}