<hr>
<p>
    <strong>{{str 'LBL_FROM' module}}:</strong> {{from}}<br/>
    {{#if date}}<strong>{{str 'LBL_DATE' module}}:</strong> {{formatDate date}}<br/>{{/if}}
    <strong>{{str 'LBL_TO_ADDRS' module}}:</strong> {{to}}<br/>
    {{#if cc}}<strong>{{str 'LBL_CC' module}}:</strong> {{cc}}<br/>{{/if}}
    <strong>{{str 'LBL_SUBJECT' module}}:</strong> {{name}}<br/>
</p>
