{{!

}}

<a
    class="btn{{#if def.primary}} btn-primary{{/if}}"
    href="
        {{#if fullRoute}}
            #{{fullRoute}}
        {{else}}
            {{#if def.route}}
                #{{buildRoute context=context model=model action=def.route.action}}
            {{else}}
                javascript:void(0);
            {{/if}}
        {{/if}}
    "
    name="{{name}}"
    {{#if def.tabindex}}
    tabindex="{{def.tabindex}}"
    {{/if}}
>
    {{#if def.icon}}
        <i class="fa {{def.icon}}"></i>
    {{/if}}{{label}}
</a>
