<div class="tooltip-grid">
    <p><span>{{str 'LBL_SALES_STAGE' 'Forecasts'}}</span> <span>{{label}}</span></p>
    <p><span>{{str 'LBL_AMOUNT' 'Forecasts'}}</span> <span>{{value}}</span></p>
    <p><span>{{str 'LBL_PERCENT' 'Forecasts'}}</span> <span>{{percent}}</span></p>
    <p><span>{{str 'LBL_CHART_COUNT'}}</span> <span>{{count}}</span></p>
</div>
