<div>
    <span class="tbold">{{str "LBL_FORECASTS_RANGES_BASED_TITLE" "Forecasts"}}</span>
</div>
<div id="plhCustomProbabilityRanges">
    <div id="plhCustomDefault"></div>
    <div>
        <span class="tbold">{{str "LBL_FORECASTS_CUSTOM_BASED_TITLE" "Forecasts"}}</span>
    </div>
    <div id="plhCustom"></div>
    <div id="plhExclude">
        <div class="btn-group" id="btnAddCustomRange">
            <a class="btn" href="javascript:void(0)" data-type="custom" data-category="{{category}}"><i class="far fa-plus"></i></a>
        </div>
    </div>
</div>
<div>
    <span class="tbold">{{str "LBL_FORECASTS_CUSTOM_NO_BASED_TITLE" "Forecasts"}}</span>
</div>
<div id="plhCustomWithoutProbability">
    <div class="btn-group" id="btnAddCustomRangeWithoutProbability"><a class="btn" href="javascript:void(0)" data-type="custom_without_probability" data-category="{{category}}"><i class="far fa-plus"></i></a></div>
</div>
