{{#each collection.models}}
    <li><a class="ellipsis_inline" tabindex="-1" href="#bwc/index.php?module={{this.module}}&action=DetailView&record={{this.id}}" data-route="#bwc/index.php?module={{this.module}}&action=DetailView&record={{this.id}}" title="{{fieldValue this 'name'}}"><i class="fa fa-clock-o active"></i>{{fieldValue this 'name'}}</a></li>
{{/each}}
