<div class="tooltip-header">
    <b>{{account_name}}</b>
</div>
<div class="tooltip-grid">
    <p><span>{{str 'LBL_CREATED' 'Opportunities'}}</span> <span>{{assigned_user_name}}</span></p>
    <p><span>{{str 'LBL_LIKELY' 'Opportunities'}}</span> <span>{{likely}}</span></p>
    <p><span>{{str 'LBL_DATE_CLOSED' 'Opportunities'}}</span> <span>{{close_date}}</span></p>
    <p><span>{{str 'LBL_PROBABILITY' 'Opportunities'}}</span> <span>{{probability}}%</span></p>
</div>
