{{!--
/**
 * The file used to set custom dashlet for Survey Status Report
 *
 * LICENSE: The contents of this file are subject to the license agreement ("License") which is included
 * in the installation package (LICENSE.txt). By installing or using this file, you have unconditionally
 * agreed to the terms and conditions of the License, and you may not use this file except in compliance
 * with the License.
 *
 * @author     Biztech Consultancy
 */
--}}
<div data-content="chart">
    <div class="surveystatus-chart sc-chart" style="height: 275px;margin-bottom: 14px;">
        <svg class="sucrose" id="{{cid}}"></svg>
    </div>
    {{#each tabData}}
        <div class="opportunity-metric">
            <span class="label" style="background-color:{{cssStyle}}">{{models}}</span>
            <div class="opportunity-metric-description">{{statusLabel}}</div>
        </div>
    {{/each}}
</div>
<div class="block-footer hide" data-content="nodata">{{str "LBL_NO_DATA_AVAILABLE"}}</div>
