<div class="headerpane">
    <h1>
        <div class="record-cell">
            <span class="module-title">{{str "LBL_CHANGE_MODULE_ICON" this.module}}</span>
        </div>
        <div class="btn-toolbar pull-right dropdown" style="padding: 3px 6px;">
            {{#each meta.buttons}}
                {{field ../this}}
            {{/each}}
        </div>
    </h1>
</div>
<div class="record tab-layout">
    <div class="row-fluid record-panel" data-panelname="panel_body">
        <div class="row-fluid record-panel-content ">
            <div class="row-fluid panel_body">
                <table class="table table-striped table-bordered table-condensed moduleicon">
                    <thead>
                    <tr>
                        <th style="text-align:center" width="20">{{str "LBL_MODULE" this.module}}</th>
                        <th style="text-align:center" width="60%">{{str "LBL_ICON" this.module}}</th>
                        <th style="text-align:center" width="20%">{{str "LBL_PREVIEW" this.module}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each this.customData}}

                        <tr class="module-icon">
                            <td class="modulename">{{@key}}</td>
                            <td><input class="icon" type="text" value="{{this.src}}" style="width: 98%"></td>
                            {{#eq this.type "icon"}}
                                <td class="preview"><i style="font-size:30px" class="{{this.src}}"></i></td>
                            {{/eq}}
                            {{#eq this.type "image"}}
                                <td class="preview"><img style="width:30px; height: 30px" src="{{this.src}}"></td>
                            {{/eq}}
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>