{{#if value}}
    <a class="ellipsis_inline" data-placement="bottom" title="{{value}}" {{#if def.link_target}}target="{{def.link_target}}"{{/if}} href="{{value}}"{{#if dir}} dir="{{dir}}"{{/if}}>{{value}}</a>
{{/if}}
