<span class="label label-module {{#if labelSizeClass}}{{labelSizeClass}} {{/if}}label-{{module}}" rel="tooltip" title="{{moduleIconToolTip module}}" data-placement="{{tooltipPlacement}}" style="background-color: #f6f6f6;color: #000;border: solid 1px #000;">
    <i class="{{this.icon}}"></i>
</span>
