<link type="text/css" href="modules/pmse_Project/css/jcore.libraries.css?v={{cacheKiller}}" rel="stylesheet" />
<link type="text/css" href="modules/pmse_Project/css/jcore.adam-ui.css?v={{cacheKiller}}" rel="stylesheet" />
<link type="text/css" href="modules/pmse_Project/css/jcore.adam.css?v={{cacheKiller}}" rel="stylesheet" />
<link type="text/css" href="modules/pmse_Project/css/pmse.css?v={{cacheKiller}}" rel="stylesheet" />

<div class="search-filter">
    <div class="control-group">
        <div class="filter controls controls-two btn-group-fit">
            <div class="filter-view search" style="padding-top: 3px">
                <div>
                    <input type="hidden" class="select2 search-filter" data-placeholder="{{str "LBL_MODULE"}}">
                    <div class="choice-filter"></div>
                    <input type="text" size=" " class="search-name" placeholder="{{str "LBL_BASIC_SEARCH"}}&hellip;">
                </div>
            </div>
        </div>
    </div>
</div>
