{{#eachOptions items}}
    {{#ifEquals  ../def.name "gender"}}
        <span>
    {{else}}
        <p>
    {{/ifEquals }}
   <label><input type="radio" name="{{../name}}" value="{{key}}"{{#if def.tabindex}}
                     tabindex="{{def.tabindex}}"{{/if}} {{#eq key ../value}}checked{{/eq}}> {{value}}</label>

    {{#ifEquals  ../def.name "gender"}}
        </span>
    {{else}}
        </p>
    {{/ifEquals }}
{{/eachOptions}}
{{#unless hideHelp}}{{#if def.help}}<p class="help-block">{{str def.help module}}</p>{{/if}}{{/unless}}
