<div class="search-filter">
    <div class="control-group">
        <div class="filter controls controls-two btn-group-fit{{#if meta.refresh_button}} has-refresh{{/if}}">
            {{component this 'filter'}}
            <div class="toggle-actions actions">
                {{#if meta.refresh_button}}
                    <div class="btn-group refresh" data-action="refreshList">
                        <button class="btn" rel="tooltip" title="{{str 'LBL_LIST_REFRESH' module}}" aria-label="{{str 'LBL_LIST_REFRESH' module}}"><i class="fa fa-refresh"></i></button>
                    </div>
                {{/if}}
                <div class="btn-group" data-toggle="buttons-radio">
                    {{#each toggles}}
                        <button type="button" class="btn{{#if disabled}} disabled{{/if}}" {{#if disabled}}disabled{{/if}} data-view="{{toggle}}" data-mode="view" rel="tooltip" title="{{str title}}" aria-label="{{str title}}" track="click:{{toggle}}" aria-pressed="false"><i class="far {{class}}"></i>
                        </button>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="filter-options extend hide">
        {{component this 'filter-rows'}}
        {{component this 'filter-actions'}}
    </div>
</div>
<div class="main-content"></div>
