<div class="headerpane">
    <h1>
        <div class="record-cell">
            <span class="module-title">{{str "LBL_LICENSE" this.module}} - DotB EMS</span>
        </div>
        <div class="btn-toolbar pull-right dropdown">
            <label class="label label-{{this.data.date_expired_color}}">License is {{#if this.data.is_expired}}Expired{{else}}Valid{{/if}}</label>
        </div>
    </h1>
</div>
<div class="record tab-layout">
    <div class="row-fluid record-panel" data-panelname="panel_body">
        <div class="row-fluid record-panel-content ">
            <div class="row-fluid panel_body">
                <table class="table table-striped table-bordered table-condensed moduleicon">
                    <thead>
                    <tr>
                        <th style="text-align:right" width="25%">{{str "LBL_LICENSE_NAME" this.module}}</th>
                        <th style="text-align:left" width="25%">{{str "LBL_LICENSE_VALUE" this.module}}</th>
                        <th style="text-align:center" width="50%" colspan="2">{{str "LBL_CONTACT_SUPPORT" this.module}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align:right">{{str "LBL_LICENSE_TYPE" this.module}}</td>
                        <td style="text-align:left">{{this.data.package}}</td>
                        <td style="text-align:center" colspan="2">{{str "LBL_COMPANY_DOTB" this.module}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">License status</td>
                        <td style="text-align:left">
                            <label class="label label-{{this.data.date_expired_color}}">{{#if this.data.is_expired}}Expired{{else}}Valid{{/if}}</label>
                        </td>
                        <td colspan="2" style="text-align:center">Email: contact@dotb.vn - sales@dotb.vn</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">{{str "LBL_LICENSE_DATE" this.module}}</td>
                        <td style="text-align:left">{{this.data.date_expired}}</td>
                        <td colspan="2" style="text-align:center">Phone: 028.7308.9091 - 096.126.9091</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">{{str "LBL_USERS" this.module}}</td>
                        <td style="text-align:left">{{this.data.users}}</td>
                        <td colspan="2" style="text-align:center">Website: https://dotb.vn</td>
                    </tr>
                    <tr>
                        <td style="text-align:right">{{str "LBL_TEAMS" this.module}}</td>
                        <td style="text-align:left">{{this.data.teams}}</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td style="text-align:right">{{str "LBL_TOTAL_STUDENTS" this.module}}</td>
                        <td style="text-align:left">{{this.data.students}}</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>

                        <td style="text-align:right">{{str "LBL_DATA_STORAGE" this.module}}</td>
                        <td style="text-align:left">{{this.data.storage}}</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Last update</td>
                        <td style="text-align:left">{{this.data.date_update}}</td>
                        <td colspan="2"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>