<div class="tooltip-grid">
    <p><span>{{lbl}}</span> <span>{{key}}</span></p>
    <p><span>{{str 'LBL_AMOUNT' 'Forecasts'}}</span> <span>{{y}}</span></p>
    <p><span>{{str 'LBL_PERCENT' 'Forecasts'}}</span> <span>{{x}}</span></p>
</div>
