{{#each meta.panels}}
    <table class="table dataTable table-striped">
        <thead>
        <tr>
            {{#each fields}}
                <th class="{{#isSortable ../../module this}}sorting{{#eq ../../../orderBy.field name}}_{{{../../../../orderBy.direction}}}{{/eq}} orderBy{{name}}{{/isSortable}}{{#if widthClass}} {{widthClass}}{{/if}}"
                    {{#if styles}} style="{{styles}}"{{/if}}
                    {{#if name}} data-fieldname="{{name}}"{{/if}} data-orderby="{{orderBy}}">
                    <span>
                        {{str label ../../module}}
                    </span>
                </th>
            {{/each}}
        </tr>
        </thead>
        <tbody>
            {{#if ../filteredCollection.length}}
                {{#each ../../filteredCollection}}
                <tr name="{{module}}_{{attributes.id}}" class="single">
                    {{#each fields}}
                        <td{{#if align}} class="{{align}}"{{/if}} data-column="{{name}}">{{field ../../../../this model=../this template="audit"}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
    {{#if ../collection.dataFetched}}
        {{#unless ../../filteredCollection.length}}
            <div class="block-footer">
                <em>{{str "LBL_LISTVIEW_NO_RECORDS" this.module}}</em>
            </div>
        {{/unless}}
    {{else}}
        <div class="block-footer">
            {{str "LBL_LOADING" this.module}}
        </div>
    {{/if}}
{{/each}}
